name: Run Python Daily + LINE Notify

on:
  schedule:
    - cron: "59 7 * * *"  # 每天 15:59 台灣時間
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    env:
      LINE_TOKEN: ${{ secrets.LINE_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests pandas lxml

      - name: Run main.py
        run: |
          python main.py
